body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

header {
    background-color: #1e2a38;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
    position: relative;
}

.layout {
    margin: auto;
    width: 80%;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1em;
    margin-top: 10px;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0056b3; /* Azul más oscuro */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003366; /* Tonos más oscuros para el hover */
}

section {
    margin: 40px 20px;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: block;
    width: 100%; 
    margin-bottom: 10px;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.project h3 {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
