body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #2c3e50; 
}

#app {
    text-align: center;
    width: 80%;
}

#task-container {
    background-color: #34495e; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

#form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #2c3e50; 
    border-radius: 4px;
    margin-right: 10px;
}

button {
    background-color: #e74c3c; 
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2c3e50; 
    padding: 8px;
}

li:hover {
    background-color: #2c3e50;
}

.task-text {
    flex: 1; 
    text-align: left;
}

.task-buttons {
    display: flex;
    gap: 5px;
}

.edit-btn,
.remove-btn {
    background-color: #3498db; /* Azul */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-btn:hover,
.remove-btn:hover {
    background-color: #2980b9; /* Azul más oscuro */
}